@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 3px;
	height: 0;
}

::-webkit-scrollbar-thumb {
	background: #4e474788;
	border-radius: 100px;
	cursor: pointer;
}


@layer utilities {
	html {
		font-family: 'DM Sans', sans-serif;
		@apply text-[14.5px] md:text-[16px] bg-bodyBg text-bodyText;
	}

	input {
		@apply bg-itemBg py-2 px-4 rounded border-0;
	}

	input:focus-within {
		@apply border-0 outline-info;
	}

	input.valid:focus-within {
		@apply border-0 outline-success;
	}

	input.invalid:focus-within {
		@apply border-success outline-danger;
	}

	label {
		@apply font-bold;
	}

	button {
		@apply border rounded px-6 py-2 text-sm;
	}

	.card {
		@apply rounded-xl border border-itemBg p-4 gap-2 lg:gap-4 lg:p-6;
	}

	.card-list {
		@apply flex flex-col gap-4 lg:gap-6;
	}
}
