{
	"api": {
		"app_id": "api",
		"emails": {
			"no_reply": {
				"private_key": "",
				"client_id": ""
			}
		}
	},
	"admin": {
		"google_client_id": "",
		"api_base": "",
		"environment": "local"
	},
	"general": {
		"app_id": "general",
		"environment": "local",
		"super_admin": "test@email.com",
		"access_token_key": "access-token",
		"refresh_token_key": "refresh-token",
		"mongodb_uri": "mongodb://mongodb/greep-local?replicaSet=rs0",
		"redis_uri": "redis://redis:6379",
		"rabbitmq_uri": "amqp://guest:guest@rabbitmq/"
	},
	"root": {
		"base_domain": "localhost",
		"use_ssl": 0,
		"port": 8080
	}
}